:root {
    --dark: #24292F;
    --white: #ffffff;
    --gray: #F6F8FA;
    --gray-darker: #EFF3F6;
    --gray-dark: #D0D7DE;
    --header-text: #BEBFC1;
    --filter-white: brightness(0) saturate(100%) invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
    --filter-text: invert(15%) sepia(4%) saturate(1993%) hue-rotate(173deg) brightness(97%) contrast(96%);
    --filter-header-text: brightness(0) saturate(100%) invert(89%) sepia(5%) saturate(83%) hue-rotate(182deg) brightness(88%) contrast(86%);
    --red: #c31525;
    --red-light: #f3949d;
    --green: #8DBE14;
    --green-light: #D2ED90;
    --yelolow: #CA9D16;
    --yelolow-light: #FBE399;

}
//####################################
*::-webkit-scrollbar {
    width: 16px;
}

*:not([no-y-overflow])::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #606060;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%);
}

body {
    overflow: overlay;
}

@import '_zeroing';

.logo.vite:hover {
    filter: drop-shadow(0 0 2em #747bff);
}

.logo.solid:hover {
    filter: drop-shadow(0 0 2em #2f5d90);
}
